.navbar {
  width: 100%;
  position: fixed;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #6b8e23;
  border-radius: 0 0 3px 3px;
  z-index: 999;
}

img {
  height: 85px;
  width: 95px;
  margin-left: 5px;
}

.userMenu {
  height: 100px;
  width: 80px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  padding-left: 10px;
}

.logged-in {
  display: flex;

  align-items: center;
}

.create {
  padding-right: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
}
